<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Buscador de información sobre artículos científicos a partir de su DOI o del ORCID id de su autor"/>
    <meta name="author" content="" />
    <title>MyDOIinfo</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/stylesheets/bootstrap_theme.css">
    <!-- Custom made css styles -->
    <link rel="stylesheet" href="/stylesheets/custom_styles.css">
    <!-- Iconify script -->
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="/"><img src="/assets/img/header/MyDOIinfo.png" style="width: 30%;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/search/doi">Buscar DOI</a></li>
                <li class="nav-item"><a class="nav-link" href="/search/orcid">Buscar ORCID id</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-light">
    <div class="container px-4 text-center text-dark position-relative">
        <div class="row gx-5 justify-content-center align-items-center">
            <div class="col-lg-8">
                <h1 class="fw-bolder" style="color: darkorange;">Buscador por DOI</h1>
                <br>
                <p class="lead">En esta página puede buscar la información relativa a uno o más artículos científicos
                    a partir de su DOI. Tenga en cuenta que si desea buscar varios DOIs, estos deberán estar separados por comas
                    y que el tiempo de procesamiento aumentará en función del número de DOIs introducidos.</p>
                <br>
                <form id="search-form" onsubmit="performRequest('doi/?dois=')">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="DOI del artículo" th:value="${inputDOI}" id="input-doi" name="inputDOI">
                        <button type="submit" class="btn btn-primary" id="search-button">
                            <span class="iconify" data-icon="ant-design:search-outlined" style="color: #FFFFFF;"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- main section-->
<section id="main">
    <div class="container px-4 text-center text-dark position-relative">
        <div class="row gx-5 justify-content-center align-items-center">
            <!-- WAIT RESPONSE -->
            <div class="col-lg-8" id="wait-response">
                <h2 class="fw-bolder" style="color: darkorange;">Se está procesando su búsqueda</h2>
                <h4 class="fw-bolder">Puede tardar unos minutos</h4>
                <div class="p-5">
                    <img class="img-fluid" src="/assets/gif/spinner.gif" style="width: 30%">
                </div>
                <p class="lead">Una vez se haya completado la búsqueda, la información solicitada se mostrará
                    directamente. Por favor, no cierre su navegador o salga de la página. Si el tiempo de espera es muy
                    elevado, puede probar a recargar la página y repetir su consulta.</p>
            </div>
            <!-- RESPONSE INFO -->
            <div id="request-result-container" class="col-lg-8">
            </div>
            <br>
            <div  id="pagination" class="col-lg-8">
            </div>
            <!-- ERROR -->
            <div class="col-lg-8 request-error-container" id="request-error-bad-request">
                <h2 class="fw-bolder" style="color: darkorange;">Error, demasiados DOIs</h2>
                <h4 class="fw-bolder">El número de DOIs introducidos excede el máximo que el sistema es capaz de
                    procesar en una petición.</h4>
                <div class="p-5">
                    <img class="img-fluid" src="/assets/img/errors/400.jpg" style="width: 100%">
                </div>
                <p class="lead">Tenga en cuenta que este límite en el número de DOIs se ha establecido con el objetivo
                    de proteger el sistema frente a posibles ataques y de evitar tiempos de respuesta excesivos. Sentimos
                    las molestias que pueda ocasionar.</p>
            </div>
            <div class="col-lg-8 request-error-container" id="request-error-not-found">
                <h2 class="fw-bolder" style="color: darkorange;">No se ha encontrado la información solicitada</h2>
                <h4 class="fw-bolder">Es posible que los DOIs introducidos presenten errores o que el sistema no
                    haya podido acceder a las páginas web de los artículos asociados a estos DOIs.</h4>
                <div class="p-5">
                    <img class="img-fluid" src="/assets/img/errors/404.jpg" style="width: 100%">
                </div>
                <p class="lead">Tenga en cuenta que actualmente el sistema solo es capaz de obtener la información de
                    los artículos científicos publicados por ACM, IEEE, Elsevier, Springer y la revista Science.</p>
            </div>
            <div class="col-lg-8 request-error-container" id="request-error-general">
                <h2 class="fw-bolder" style="color: darkorange;">Se ha producido un error durante la busqueda</h2>
                <div class="p-5">
                    <img class="img-fluid" src="/assets/img/errors/error.jpg" style="width: 100%">
                </div>
                <h4 class="fw-bolder">Por favor, recargue la página y vuelva a realizar la búsqueda. Si el error persiste puede
                    ponerse en contacto con nosotros enviando un correo electrónico a mydoiinfo@gmail.com.</h4>
            </div>
        </div>
        <br>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Ajax custom script-->
<script src="/js/ajax_request_performer.js"></script>
<script>
    $(document).ready(function(){
        performInitialRequest('doi/?dois=');
    });
</script>
</body>
</html>
