.justify-text {
    text-align: justify;
}

.bold-text {
    font-weight: bold;
}

ul.response-list li {
    padding-bottom: 0.3rem;
}

.card-footer {
    background-color: white;
}

@media (max-width: 576px){
    .text-center-mb{
        text-align: center !important;
    }
}