<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="/stylesheets/table.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>DOI</th>
            <th>Authors</th>
            <th>Citations (CrossRef)</th>
            <th>Journal/Conference</th>
            <th>Volume</th>
            <th>Publication Date</th>
            <th>JCR Date</th>
            <th>Impact Factor/GGS Class</th>
            <th>Impact Factor Five Years</th>
            <th>Quartile/GGS Rating/CORE</th>
            <th>Category Ranking List</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="article, i: ${articleList}" th:class="${i.odd} ? odd : even">
            <td th:text="${article?.title}"/>
            <td th:text="${article?.DOI}"/>
            <td th:text="${article?.authors}"/>
            <td th:text="${article?.citations}"/>
            <td th:text="${article?.jcrRegistry != null} ? ${article?.jcrRegistry?.journal?.title} : ${article?.journalTitle}"/>
            <td th:text="${article?.volumeInfo}"/>
            <td th:text="${article?.publicationDateText}"/>
            <td th:text="${article?.jcrRegistry != null && article?.jcrRegistry?.year>0} ? ${article?.jcrRegistry?.year} : ''"/>
            <td th:text="${article?.jcrRegistry != null} ? ${article?.jcrRegistry?.impactFactor} : ${article?.conference?.ggsClass}"/>
            <td th:text="${article?.jcrRegistry?.impactFactorFiveYear}"/>
            <td th:text="${article?.jcrRegistry != null} ? ${article?.jcrRegistry?.quartile} :
            (${article?.conference?.ggsRating != null} ? ${'GGSRating: ' + article?.conference?.ggsRating} :
             (${article?.conference?.coreClass != null} ? ${'CORE: ' + article?.conference?.coreClass} :
                ${article?.jcrRegistry?.quartile})
             )"/>
            <td>
                <p th:each="categoryRanking: ${article?.jcrRegistry?.categoryRankingList}">
                    <span th:text="${'Category: ' + categoryRanking?.name + ','}"></span>
                    <span th:text="${'Ranking: ' + categoryRanking?.ranking + ','}"></span>
                    <span th:text="${'Field: ' + categoryRanking?.journalField}"></span>
                </p>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>